.header {
    background-color: #16202C;
    color: #ffffff;
    padding: 10px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    gap: 16px;
}

.header__logo {
    color: #ffffff;
    font-size: 32px;
    font-family: 'Permanent Marker', cursive;
}
.header__logo .icon {
    width: 34px;
    margin-right: 8px;
    filter: invert(100%);
}

.header__title {
    color: #ffffff;
    font-size: 24px;
    line-height: 1;
    flex-grow: 1;
    text-align: center;
}
