@font-face {
  font-family: "ColfaxAI";
  src:
    url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff2) format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ColfaxAI";
  src:
    url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff2) format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff) format("woff");
  font-weight: bold;
  font-style: normal;
}

#__next {
  background-color: #192734;
  color: #ffffff;
}

.controls {
  background-color: #268ACA;
  color: #ffffff;
}

.additional-text {
  color: #8A99A6;
}

.main,
.main input {
  font-size: 16px;
  line-height: 24px;
  color: #353740;
  font-family: "ColfaxAI", Helvetica, sans-serif;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  background: var(--primary-dark);
  flex-grow: 1;
}
.main h3 {
  font-size: 32px;
  line-height: 40px;
  font-weight: bold;
  color: #202123;
  margin: 16px 0 40px;
}


.main .result {
  font-weight: bold;
  margin-top: 40px;
}
.messages-list {
  flex-grow: 1;
}
